.page-header
  %h1 Tickets

= link_to t('.new', :default => t("helpers.links.new")), new_ticket_path, :class => 'btn btn-primary'
%ul#myTab.nav.nav-tabs{:role => "tablist"}
  %li.active
    %a{"data-toggle" => "tab", :href => "#all", :role => "tab"} All
  %li
    %a{"data-toggle" => "tab", :href => "#staff", :role => "tab"} Wait for staff
  %li
    %a{"data-toggle" => "tab", :href => "#customer", :role => "tab"} Wait for customer
  %li
    %a{"data-toggle" => "tab", :href => "#on_hold", :role => "tab"} On hold
  %li
    %a{"data-toggle" => "tab", :href => "#cancelled", :role => "tab"} Cancelled
  %li
    %a{"data-toggle" => "tab", :href => "#completed", :role => "tab"} Completed
.tab-content
  #all.tab-pane.active 
    = render :partial => "tickets/tickets", locals: { tickets: @tickets }
  #staff.tab-pane 
    = render :partial => "tickets/tickets", locals: { tickets: @tickets.by_status(:wait_for_staff_response) }
  #customer.tab-pane
    = render :partial => "tickets/tickets", locals: { tickets: @tickets.by_status(:wait_for_customer) }
  #on_hold.tab-pane
    = render :partial => "tickets/tickets", locals: { tickets: @tickets.by_status(:on_hold) }
  #cancelled.tab-pane
    = render :partial => "tickets/tickets", locals: { tickets: @tickets.by_status(:cancelled) }
  #completed.tab-pane
    = render :partial => "tickets/tickets", locals: { tickets: @tickets.by_status(:completed) }

:javascript
  $(function () {
    $('#myTab a:last').tab('show')
  })
